h2{
  font-size: 34px;
  margin: 50px 0;
}

h3{
  margin: 20px 0;
}

p{
  margin: 10px 0;
}

body{
  background: linear-gradient(to right, #ffffcc 22%, #ccffff 100%);
}

.container{
  text-align: center;
  margin-top: 50px;
}

.img-general{
  height: 200px;
}

.img-foot{
  height: 250px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 50%;
  background-color: #668cff;
}

.space{
  padding: 20px;
}

/* responsive */
@media screen and (max-width:767px){

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 28px;
  }

  body{
    background: linear-gradient(to top right, #6699ff 0%, #ff99ff 100%);
    color: white;
  }

  hr{
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:991px){

  body{
    background: linear-gradient(to top right, #66ffcc 0%, #993399 100%);
  }

  hr{
    display: none;
  }
}
